.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sectionWrapper {
  background-color: light-dark(var(--mantine-color-white), blueviolet);
  min-height: 100vh;
  padding-top: var(--header-height);
  margin-inline: 0;
  width: 100%;
}
